.separator {
  margin: 0 0.5rem;
}

@mixin elide {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table {
  th {
    text-align: left;
  }
  td {
    a {
      text-decoration: none;
      border-bottom: none;
    }
    a:hover {
      text-decoration: underline;
    }
    &.path {
      @include elide;
      max-width: 25rem;
    }
  }
  td, th {
    &.n_children {
      text-wrap: nowrap;
      overflow: hidden;
      max-width: 5rem;
    }
  }
  .size, .n_children, .n_desc {
    text-align: right;
  }
}
