@use "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
}

a {
  border-bottom: 1px dashed var(--foreground);
  &:hover {
    border-bottom-width: 2px;
  }
}

h1 {
  font-size: 2rem;
}

tr.root {
  font-weight: bold;
  border: 1px solid var(--foreground);
  td {
    padding: .5rem .3rem;
    margin: .5rem;
  }
}
th, td {
  padding: 0.1rem 0.3rem;
}
.treemap {
  width: 100%;
  height: 800px;
}
